# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [1]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a

In [2]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b[-3:]

[4, 5, 6]

In [3]:
# @@@ Question 3: Create a list of numbers from 1 to 20
range(20)

range(0, 20)

In [5]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
[num for num in range(101) if num % 2 == 0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [4]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def division(a, b):
    if b == 0:
        return "Error"
    return a/b

In [1]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for num in range(1,31):
    if num % 3 == 0 and num % 5 == 0:
        print('fizzbuzz')
    elif num % 5 == 0:
        print('buzz')
    elif num % 3 == 0 and num % 5 != 0:
        print('fizz')
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [3]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {'Gyro':'$9',
        'Burger': '$9',
        'Greek Salad': '$8',
        'Philly Steak': '$10'}
print(menu)

{'Gyro': '$9', 'Burger': '$9', 'Greek Salad': '$8', 'Philly Steak': '$10'}

In [ ]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
#import pandas as pd
#df = pd.read_csv('data/starbucks.csv')
#print(df.head())

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories
# df[df['calories'] > 400]

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
# df[df['vitamin c'] > df['iron']]

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
# df['caffeine per calories'] = df['caffeine'] / df['calories']

In [ ]:
# @@@ Question 12: what is the average calorie across all items?
# import numpy as np
# np.mean(df['calories'])

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?
# df['beverage_category'].value_counts()

In [ ]:
# @@@ Question 14: what is the average # calories for each beverage category?
# df.groupby('berverage_category')['calories'].mean()